<!-- Bottom Nav-->
<nav class="navbar navbar-dark bg-secondary fixed-bottom">
  <div class="container">
    <span class="navbar-text text-light">&copy; 2022 Project of AbdulHameed Olaosebikan. All Rights Reserved.</span>
  </div>
</nav>

