<!DOCTYPE html>
<html lang="en">
<head>
  <title>AbdulHameed Olaosebikan Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    #copy {
      text-align: left;
    }

    #jumbotron {
      margin-bottom: 40rem;
    }
  </style>
</head>
<body>


<div class="p-5 text-white text-center bg-info" id="topimg">

</div>

<div class="p-5 bg-info text-white text-center">
  <h1>Welcome to the Home Page!</h1>
  <p id="jumbotron">
    Feel free to explore the navigation bar for more...
  </p> 
</div>


</body>
</html>
